.exp
{
  position: fixed; /* Change from absolute to fixed */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(75, 75, 250, 0.3);
  z-index: -1;
  align-items: center;
  justify-content: center;
}

.cards {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card{
  margin: 20px;
}
