.tskills
{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(75, 75, 250, 0.3);
  border-radius: 3px;
  z-index: -1;
}

.content{
  color: white;
  font-family: 'Courier New', Courier, monospace;
  animation: show-line 1s ease-in-out forwards;
  padding: 20px;
}
.skillcard{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.x {
  height: 30px;
  width: 200px;
  font-family: 'Courier New', Courier, monospace;
  color: white;
  border: none;
  background-color: rgb(145, 103, 216);
  margin: 10px;
}

.x:hover {
  color: rgb(145, 103, 216);
  background-color: white;
}

@keyframes show-line {
  0% {
      opacity: 0;
      transform: translateY(-10px); /* start the animation above the card */
  }
  100% {
      opacity: 1;
      transform: translateY(0); /* end the animation at the original position */
  }
}

@media screen and (max-width: 768px) {
  /* Adjust styles for screens with width up to 768px */

  .skillcard,
  .buttons {
    flex-direction: column;
  }

  .x {
    margin: 5px 0;
  }
}

