.abcard {
    opacity: 0; /* hide the card by default */
    transition: opacity 0.5s ease-in-out; /* add a transition for opacity */
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.abcard.show {
    opacity: 1; /* show the card when the "show" class is added */
}

.abcard h3{
    opacity: 0; /* hide the lines by default */
    max-width: 500px;
    animation: show-line 1s ease-in-out forwards; /* add an animation for each line */
}


.abcard h1 {
    margin-top: 50px; /* add some margin between headings */
}

@keyframes show-line {
    0% {
        opacity: 0;
        transform: translateY(-10px); /* start the animation above the card */
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* end the animation at the original position */
    }
}