* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200');

body  {
    background-image: url('https://static.pexels.com/photos/414171/pexels-photo-414171.jpeg');
  background-size:cover;
        -webkit-animation: slidein 100s;
        animation: slidein 100s;

        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;

        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;

        -webkit-animation-direction: alternate;
        animation-direction: alternate;              
}

@-webkit-keyframes slidein {
from {background-position: top; background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}
}

@keyframes slidein {
from {background-position: top;background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}

}

.home-page
{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(75, 75, 250, 0.3);
  border-radius: 3px;
}
.home-page .logobutton{
  text-align:center;
  color:white;
  font-family: 'Source Code Pro', monospace;
  text-transform:uppercase;
}
  
.logobutton {
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
  
.logobutton:hover {
    transform: scale(1.1);
}
  
.button-clicked .logobutton {
    position: absolute;
    transform: translate(0, -300px) scale(0.8);
    transition: all 0.5s ease-in-out;
}

@media (max-height: 650px) {
    /* For screens with a maximum width of 768px (i.e., tablets and mobile devices) */
    .button-clicked .logobutton {
      transform: translate(0, -250px) scale(0.5);
    }
  }


.image {
    width: 100px;
    height: 100px;
}

.container{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 100px;
}

.container h1:nth-child(1) {
  color: white;
  font-family: 'Fira Code', monospace;
  font-weight: 800;
  font-size: 20px;
  margin: 0 0 0 35%;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  width: 100px;
  animation: type 2s steps(40,end) forwards;
}

.container h1:nth-child(2) {
  opacity: 0;
  font-family: "Work Sans", sans-serif;
  margin: 0 auto auto auto;
  background: linear-gradient(to right, #FBF2FF, #DC86FA, #C030ED, #AA00D7, #9600B3,  #770087);
  font-weight: 80;
  font-size: 100px;  
  width: 300px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  overflow: hidden;
  animation: shring-animation 2.2s steps(40,end) 2s forwards, blink .5s step-end infinite alternate;
}

@keyframes shring-animation {
  0% {
    background-position: 0 0;
    opacity: 0;
    transform: scaleX(0);
  }
  1% {
    background-position: 0 0;
    opacity: 1;
    transform: scaleX(1);
    border-right: 1px solid white;
  }
  50% {
    background-position: 150px 0;
    opacity: 1;
    transform: scaleX(1.1);
    border-right: 1px solid white;
  }
  100% {
    background-position: 0 0;
    opacity: 1;
    transform: scaleX(1);
    border-right: none;
  }
}

@keyframes type {
  0% {
    width: 0;
  }
  1%, 99%{
    border-right: 1px solid white;
  }
  100%{
    border-right: none;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.buttons {
  position: relative;
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}
