* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200');

body  {
    background-image: url('https://static.pexels.com/photos/414171/pexels-photo-414171.jpeg');
  background-size:cover;
        -webkit-animation: slidein 100s;
        animation: slidein 100s;

        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;

        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;

        -webkit-animation-direction: alternate;
        animation-direction: alternate;              
}

@-webkit-keyframes slidein {
from {background-position: top; background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}
}

@keyframes slidein {
from {background-position: top;background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}

}



.home-page
{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(75, 75, 250, 0.3);
  border-radius: 3px;
}
.home-page .logobutton{
  text-align:center;
  color:white;
  font-family: 'Source Code Pro', monospace;
  text-transform:uppercase;
}
  
.logobutton {
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
  
.logobutton:hover {
    transform: scale(1.1);
}
  
.button-clicked .logobutton {
    position: absolute;
    transform: translate(0, -300px) scale(0.5);
    transition: all 0.5s ease-in-out;
}

@media (max-height: 650px) {
    /* For screens with a maximum width of 768px (i.e., tablets and mobile devices) */
    .button-clicked .logobutton {
      transform: translate(0, -250px) scale(0.5);
    }
  }
  
  

.new-page {
    margin-top: 50px;
    text-align: center;
}

.image {
    width: 100px;
    height: 100px;
}