.card {
    width: 300px;
    padding: 10px;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    color: rgb(145, 103, 216);
    font-family: 'Courier New', Courier, monospace;
}

.card:hover{
  transform: scale(1.05);
  background-color: rgb(145, 103, 216);
  color: #f7f7f7;
}

.card h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.card .logo {
    width: 75px;
    height: 75px;
    object-fit: cover;
    margin-bottom: 10px;
}

.card div {
    font-size: 14px;
}

@media (max-width: 900px) {
    .card {
      width: 100%; /* Change width to 100% */
      padding: 0px;/* Add margin to create space between cards */
    }
  
    .card h1 {
      font-size: 20px; /* Reduce font size */
    }
  
    .card .logo {
      width: 80px; /* Reduce width of logo */
      height: 80px; /* Reduce height of logo */
    }
  
    .card div {
      font-size: 12px; /* Reduce font size */
    }
  }
  
