.introcard {
  height: 50vh;
  /*This part is important for centering*/
  display: grid;
  place-items: center;
  font-size: 20px;
}

.header{
  width: 19ch;
  animation: typing 2s steps(33), .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  font-family: 'Courier New', Courier, monospace;
  font-size: 2em;
  color: white;
  margin-bottom: 5rem;
}
.header2{
  width: 0ch;
  animation: typing2 2s steps(33), .5s step-end infinite alternate;
  animation-delay: 2s;
  white-space: nowrap;
  overflow: hidden;
  font-family: 'Courier New', Courier, monospace;
  font-size: 2em;
  animation-fill-mode: forwards;
  color: white;
  margin-bottom: 2rem;
}
.header3{
  width: 0ch;
  animation: typing3 2s steps(33), .5s step-end infinite alternate;
  animation-delay: 4s;
  white-space: nowrap;
  overflow: hidden;
  font-family: 'Courier New', Courier, monospace;
  font-size: 2em;
  animation-fill-mode: forwards;
  color: white;
  margin-bottom: 1rem;
}


@keyframes typing {
  from {
    width: 0
  }
}

@keyframes typing2 {
    from {
      width: 0;
    }
    to {
      width: 22ch;
    }
  }

@keyframes typing3 {
    from {
      width: 0;
    }
    to {
      width: 33ch;
    }
  }
  
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}


@media screen and (max-width: 768px) {
  .introcard {
    height: auto;
    margin-bottom: 2rem;
  }
  
  .header {
    font-size: 1em;
    margin-bottom: 2rem;
  }
  
  .header2 {
    font-size: 1em;
    margin-bottom: 1rem;
  }
  
  .header3 {
    font-size: 1em;
    margin-bottom: 0.5rem;
  }
}