.cardskill {
    width: 250px;
    height: 140px;
    padding: 5px;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    color: rgb(145, 103, 216);
    font-family: 'Courier New', Courier, monospace;
}

.cardskill:hover{
  transform: scale(1.05);
  background-color: rgb(145, 103, 216);
  color: #f7f7f7;
}

.cardskill h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.cardskill .logo {
    width: auto;
    height: auto;
    max-height: 75px;
    max-width: 100px;
    object-fit: cover;
    margin-bottom: 10px;
}

.cardskill div {
    font-size: 14px;
}

@media (max-width: 900px) {
  .cardskill {
    width: 50%; 
    height: 50%;
    padding: 0px;
  }
  
  .cardskill h1 {
    font-size: 20px;
  }
  .cardskill .logo {
    width: auto; 
    height: auto; 
    max-width: 80px;
    max-height: 40px;
  }
  
  .cardskill div {
    font-size: 12px;
  }
}
  